/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/components/Intelligence.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Intelligence_scan__k8odq {
  left: 100%;
  animation: Intelligence_scanRight__TBeAt 3s cubic-bezier(0.2, 0.5, 0.8, 0.5) 1;
}

@keyframes Intelligence_scanRight__TBeAt {
  0% {
    left: -53px;
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.7;
  }
}

.Intelligence_fadeOut__uPRBb {
  opacity: 0;
  animation: Intelligence_fade__I3eCv 0.3s linear 1;
}

@keyframes Intelligence_fade__I3eCv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./app/components/VoiceSelector/VoiceSelector.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VoiceSelector_container__m4DYG {
    width: 100%
}
@media (min-width: 640px) {
    .VoiceSelector_container__m4DYG {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .VoiceSelector_container__m4DYG {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .VoiceSelector_container__m4DYG {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .VoiceSelector_container__m4DYG {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .VoiceSelector_container__m4DYG {
        max-width: 1536px
    }
}
  .VoiceSelector_voice-list__Xsftx {
    position: relative;
    display: flex
}
  .VoiceSelector_voice-list__item__fzjJL, .VoiceSelector_voice-list__icon__s5QDm, .VoiceSelector_voice-list__info__i0vY3 {
    position: relative;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms
}
  .VoiceSelector_voice-list__icon__s5QDm {
    display: block;
    flex-shrink: 0;
    border-radius: 9999px
}
  .VoiceSelector_voice-list__info__i0vY3 {
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.25rem
}
  @media (min-width: 768px) {
    .VoiceSelector_voice-list__info__i0vY3 {
        font-size: 1rem;
        line-height: 1.5rem
    }
}
  .VoiceSelector_voice-list--default__2s1Wj {
    height: 3.5rem;
    align-items: center;
    justify-content: flex-end
}
  .VoiceSelector_voice-list--default__2s1Wj > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__item--unselected__hhOXV .VoiceSelector_voice-list__icon__s5QDm {
    opacity: 0.5
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__item--selected__mB_Mj .VoiceSelector_voice-list__icon__s5QDm {
    height: 3.5rem;
    width: 3.5rem;
    opacity: 1
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__item__fzjJL:hover .VoiceSelector_voice-list__icon__s5QDm {
    opacity: 1
}
  @media (min-width: 768px) {
    .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__item__fzjJL:hover .VoiceSelector_voice-list__info__i0vY3 {
        display: flex
    }
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__icon__s5QDm {
    height: 2.5rem;
    width: 2.5rem
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__info__i0vY3 {
    position: absolute;
    right: 0px;
    display: none
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__info__i0vY3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
}
  .VoiceSelector_voice-list--default__2s1Wj .VoiceSelector_voice-list__info__i0vY3 {
    border-radius: 0.125rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(44 44 51 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(26 26 31 / var(--tw-bg-opacity));
    padding: 1rem
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY {
    flex-direction: column-reverse
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__item__fzjJL {
    bottom: 0px;
    display: flex;
    align-items: flex-end
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__item--selected__mB_Mj {
    align-items: center
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__item--selected__mB_Mj .VoiceSelector_voice-list__icon__s5QDm {
    height: 3.5rem;
    width: 3.5rem
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__item--unselected__hhOXV .VoiceSelector_voice-list__icon__s5QDm {
    height: 5rem;
    width: 5rem
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__item--unselected__hhOXV .VoiceSelector_voice-list__info__i0vY3 {
    display: flex;
    flex-direction: column
}
  .VoiceSelector_voice-list--collapsibleOpen__J0drY .VoiceSelector_voice-list__info__i0vY3 {
    padding-left: 0.5rem
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz {
    flex-direction: column-reverse
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__item__fzjJL {
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: flex-end
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__item--selected__mB_Mj {
    align-items: center
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__item--selected__mB_Mj .VoiceSelector_voice-list__icon__s5QDm {
    height: 3.5rem;
    width: 3.5rem
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__item--unselected__hhOXV .VoiceSelector_voice-list__icon__s5QDm {
    height: 0px;
    width: 0px;
    opacity: 0
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__item--unselected__hhOXV .VoiceSelector_voice-list__info__i0vY3 {
    display: flex;
    flex-direction: column
}
  .VoiceSelector_voice-list--collapsibleClosed__nUSSz .VoiceSelector_voice-list__info__i0vY3 {
    height: 0px;
    width: 0px;
    padding-left: 0.5rem;
    opacity: 0
}
